<!doctype html>
<head>
<title>Login to OChem Test</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36751896-1']);
  _gaq.push(['_setDomainName', 'thedigeffect.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<form name="input" action="redirectToReaction" method="post">
%for aset in setList.keys():
<input type="checkbox" name="set{{aset}}">{{setList[aset]}}<br>
%end
<input type="submit" value="Start">
<a href="logout">Logout</a>
</form>
</body>