<!doctype html>
<head>
<title>Reactions of the Day RXN VIEWER
</title>
</style>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="/static/ChemDoodleWeb/ChemDoodleWeb.css" type="text/css">
<script type="text/javascript" src="/static/ChemDoodleWeb/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript" src="/static/ChemDoodleWeb/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="/static/ChemDoodleWeb/sketcher/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/static/ChemDoodleWeb/sketcher/ChemDoodleWeb-sketcher.js"></script>
<link rel="stylesheet" href="/static/ChemDoodleWeb/sketcher/jquery-ui-1.9.2.custom.css" type="text/css">
</head>
<body class="imageScreen" id="imageScreenID" onload="window.scrollTo(0, 1);">

<script>
function makeRequestObject(){
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  return xmlhttp
}


var reactants = new Array();
var products = new Array();
%molData=rxn.renderMOL(eliminateN=True)
%for reactantMOL in molData['reactants']:
reactants.push( ChemDoodle.readMOL("{{reactantMOL}}") )
%end
%for productMOL in molData['products']:
products.push( ChemDoodle.readMOL("{{productMOL}}") )
%end
</script>
{{rxn.name}} - {{len(molData['reactants'])}} <br>

%for x in range(len(molData['reactants'])):
<script>
  var reactantView{{x}} = new ChemDoodle.ViewerCanvas('reactantView{{x}}', 300, 300);
  reactantView{{x}}.loadMolecule(reactants[{{x}}]);
</script>
%end

<script>
  var viewerLineText = new ChemDoodle.ViewerCanvas('viewerLineText', 100, 100);
  // create a synthetic arrow
  var syntheticArrow = new ChemDoodle.structures.d2.Line(new ChemDoodle.structures.Point(10, 50), new ChemDoodle.structures.Point(90, 50));
  syntheticArrow.arrowType = ChemDoodle.structures.d2.Line.ARROW_SYNTHETIC;
  syntheticArrow.topText = '{{rxn.conditions}}';
  viewerLineText.addShape(syntheticArrow);
  // repaint
  viewerLineText.repaint();
</script>

%for x in range(len(molData['products'])):
<script>
  var productsView{{x}} = new ChemDoodle.ViewerCanvas('productsView{{x}}', 300, 300);
  productsView{{x}}.loadMolecule(products[{{x}}]);
</script>
%end


<br>
<script>
  ChemDoodle.ELEMENT['H'].jmolColor = 'black';
  ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
  var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300,{useServices:false});
  sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
  sketcher.specs.atoms_useJMOLColors = true;
  sketcher.specs.bonds_clearOverlaps_2D = true;
  sketcher.specs.shapes_color = '#c10000';
  sketcher.repaint();
  
function checkAnswer(){
var mols = sketcher.getMolecules();
var postString = "{{rxn.UUID}}";
for (var i = 0; i < mols.length; i++) {
	postString=postString+"$$$"+ChemDoodle.writeMOL(mols[i])
}
var newReq = makeRequestObject()
newReq.open("POST","/checkAnswer",false);
newReq.setRequestHeader("Content-type","application/x-www-form-urlencoded");
newReq.send("answer="+postString);
alert(newReq.responseText);
}
  
</script>
<strong id="answerheader"><a id="answerlink" href="javascript:void(0)" onClick="checkAnswer();">SUBMIT ANSWER</a></strong></br>


</body>